---
import AuthenticationLayout from "../layouts/AuthenticationLayout.astro"
import ErrorBanner from "../components/ErrorBanner.astro"
import {login} from "../utils/server/users"

let error = "";
const credentials = {
    username: "",
    password: "",
    remember: "",
};

if(Astro.cookies.get("user")){
    return Astro.redirect("/");
}

if(Astro.request.method == "POST"){
    try {
        const data = await Astro.request.formData();   
        credentials.username = String(data.get("username"));
        credentials.password = String(data.get("password"));
        credentials.remember = String(data.get("remember"));

        const response = await login(credentials);

        if(response.status == 200){
            if(credentials.remember == 'on'){
               Astro.cookies.set("user", response.data.access_token, {
                    httpOnly: true,
                    maxAge: 60 * 60 * 24 * 365,
               });
            }else{
                Astro.cookies.set("user", response.data.access_token, {
                    httpOnly: true,
               });
            }

            return Astro.redirect("/");

        }else{
            error = response.data;
        }

    }catch (error){
        if(error instanceof(Error)){
            console.log(error.message);
        }
    }
}

---

<AuthenticationLayout title="NomadCities - Login">
    <div class="login-wrapper max-w-[750px] w-full">
        <div class="form-container auth-max:p-0 bg-black text-white rounded-lg py-8 flex flex-col">
            <h1 class="auth-max:pt-0 auth-max:pb-8 auth-max:text-left auth-max:text-2xl py-8 text-center text-4xl font-paytoneone">
                Log in to NomadCities
            </h1>
            {error && <ErrorBanner msg={error}/>}
            <hr class="separator auth-max:mx-0 auth-max:mt-0 mx-20 my-8 border-t border-[#292929]" />
            <form class="login-form auth-max:w-full w-[325px] mx-auto my-0" method="POST" autocomplete="nope">
                <div class="pb-4">
                    <label for="signup-username" class="font-paytoneone text-sm align-middle flex pb-2">
                        <span>Username</span>
                    </label>
                    <input 
                        type="text" 
                        name="username" 
                        id="login-username"
                        placeholder="Enter a username."
                        autocapitalize="nope"
                        autocomplete="nope"
                        spellcheck="false"
                        class="appearance-none border-0 text-base font-normal bg-[#121212] p-3 rounded-md"
                        style={"inline-size: 100%; box-shadow: inset 0 0 0 1px #727272;"}
                        value={credentials.username}
                    />
                </div>
                <div class="pb-4">
                    <label for="signup-username" class="font-paytoneone text-sm align-middle flex pb-2">
                        <span>What should we call you?</span>
                    </label>
                    <div class="relative w-full">
                        <input 
                            type="password" 
                            name="password" 
                            id="login-password"
                            placeholder="Password"
                            autocapitalize="nope"
                            class="appearance-none border-0 text-base font-normal bg-[#121212] p-3 rounded-md"
                            style={"inline-size: 100%; box-shadow: inset 0 0 0 1px #727272;"}
                        />
                        <div class="show-icon-container absolute top-1/2 -translate-y-1/2 flex right-3">
                            <button id="button-show" type="button">
                                <span id="show-icon" class="flex">
                                    <svg role="img" height="24" width="24" aria-hidden="true" viewBox="0 0 24 24" data-encore-id="icon" class="fill-white"><path d="M22.207 2.824a1 1 0 1 0-1.414-1.414L17.15 5.053C15.621 4.363 13.92 4 12 4 8.671 4 5.996 5.091 3.742 7.089c-.896.794-2.3 2.353-3.381 4.453L.125 12l.236.458c1.082 2.1 2.485 3.659 3.381 4.453.278.246.562.479.853.697L1.793 20.41a1 1 0 1 0 1.414 1.414l3.126-3.126.003.002 1.503-1.503-.004-.001 1.73-1.73.004.001 1.567-1.567h-.004l4.68-4.681.001.004 1.595-1.595-.002-.003.11-.109.002.002 1.444-1.444-.003-.002 3.248-3.248zM14.884 7.32l-5.57 5.57A4.035 4.035 0 0 1 8.113 10c0-2.23 1.761-4 3.886-4 1.137 0 2.17.506 2.884 1.319zM7.9 14.304l-1.873 1.873a11.319 11.319 0 0 1-.957-.763C4.396 14.818 3.3 13.621 2.387 12c.913-1.62 2.01-2.818 2.683-3.414.519-.46 1.061-.863 1.634-1.204A6.073 6.073 0 0 0 6.113 10c0 1.681.682 3.21 1.786 4.304zm11.568-5.2 1.415-1.415a16.503 16.503 0 0 1 2.756 3.853l.236.458-.236.458c-1.082 2.1-2.485 3.659-3.381 4.453C18.004 18.908 15.328 20 12 20a13.22 13.22 0 0 1-3.08-.348l1.726-1.726c.435.05.886.074 1.354.074 2.833 0 5.037-.907 6.931-2.586.674-.596 1.77-1.793 2.683-3.414a14.515 14.515 0 0 0-2.146-2.896z"></path><path d="M17.843 10.729c-.328 2.755-2.494 4.956-5.24 5.24l5.24-5.24z"></path></svg>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div>
                    <label class="relative inline-flex items-center mb-5 cursor-pointer">
                        <input type="checkbox" name="remember" class="sr-only peer">
                        <div class="w-9 h-5 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:border-[#292929]  rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-600 peer-checked:bg-[#473eb5]"></div>
                        <span class="ms-3 text-sm font-medium text-white">Remember me</span>
                      </label>
                </div>
                <div class="py-6">
                    <button id="login-button" class="w-full border-0 rounded-[500px] bg-[#473eb5] py-3">
                        <span>Log in</span>
                    </button>
                </div>
            </form>
            <hr class="separator auth-max:mx-0 auth-max:mt-0 mx-20 my-8 border-t border-[#292929]" />
            <span class="text-center py-4">
                Dont have an account? <a href="/signup" class="text-[#473eb5]">Register on NomadCities</a>.
            </span>
        </div>
    </div>
</AuthenticationLayout>

<script>
    const handleClick = () => {
        const input = document.getElementById('login-password');
        const icon = document.getElementById('show-icon');

        if(input && input instanceof HTMLInputElement){
            const type = input.type;
            if(type == 'password'){
                input.type = "text";
                icon.innerHTML = '<svg role="img" height="24" width="24" aria-hidden="true" viewBox="0 0 24 24" data-encore-id="icon" class="fill-white"><path d="M6.703 7.382A6.073 6.073 0 0 0 6.113 10c0 3.292 2.614 6 5.887 6 3.273 0 5.886-2.708 5.886-6 0-.936-.211-1.825-.589-2.618.573.341 1.115.744 1.634 1.204.674.596 1.77 1.793 2.683 3.414-.913 1.62-2.01 2.818-2.683 3.414C17.037 17.093 14.833 18 12 18s-5.037-.907-6.931-2.586c-.674-.596-1.77-1.793-2.683-3.414.913-1.62 2.01-2.818 2.683-3.414.519-.46 1.061-.863 1.634-1.204zM12 4C8.671 4 5.996 5.091 3.742 7.089c-.896.794-2.3 2.353-3.381 4.453L.125 12l.236.458c1.082 2.1 2.485 3.659 3.381 4.453C5.996 18.908 8.672 20 12 20c3.329 0 6.004-1.091 8.258-3.089.896-.794 2.3-2.353 3.38-4.453l.237-.458-.236-.458c-1.082-2.1-2.485-3.659-3.381-4.453C18.004 5.09 15.328 4 12 4zm0 2c2.125 0 3.886 1.77 3.886 4S14.125 14 12 14s-3.886-1.77-3.886-4S9.875 6 12 6z"></path></svg>'
            }else{
                input.type = "password";
                icon.innerHTML = '<svg role="img" height="24" width="24" aria-hidden="true" viewBox="0 0 24 24" data-encore-id="icon" class="fill-white"><path d="M22.207 2.824a1 1 0 1 0-1.414-1.414L17.15 5.053C15.621 4.363 13.92 4 12 4 8.671 4 5.996 5.091 3.742 7.089c-.896.794-2.3 2.353-3.381 4.453L.125 12l.236.458c1.082 2.1 2.485 3.659 3.381 4.453.278.246.562.479.853.697L1.793 20.41a1 1 0 1 0 1.414 1.414l3.126-3.126.003.002 1.503-1.503-.004-.001 1.73-1.73.004.001 1.567-1.567h-.004l4.68-4.681.001.004 1.595-1.595-.002-.003.11-.109.002.002 1.444-1.444-.003-.002 3.248-3.248zM14.884 7.32l-5.57 5.57A4.035 4.035 0 0 1 8.113 10c0-2.23 1.761-4 3.886-4 1.137 0 2.17.506 2.884 1.319zM7.9 14.304l-1.873 1.873a11.319 11.319 0 0 1-.957-.763C4.396 14.818 3.3 13.621 2.387 12c.913-1.62 2.01-2.818 2.683-3.414.519-.46 1.061-.863 1.634-1.204A6.073 6.073 0 0 0 6.113 10c0 1.681.682 3.21 1.786 4.304zm11.568-5.2 1.415-1.415a16.503 16.503 0 0 1 2.756 3.853l.236.458-.236.458c-1.082 2.1-2.485 3.659-3.381 4.453C18.004 18.908 15.328 20 12 20a13.22 13.22 0 0 1-3.08-.348l1.726-1.726c.435.05.886.074 1.354.074 2.833 0 5.037-.907 6.931-2.586.674-.596 1.77-1.793 2.683-3.414a14.515 14.515 0 0 0-2.146-2.896z"></path><path d="M17.843 10.729c-.328 2.755-2.494 4.956-5.24 5.24l5.24-5.24z"></path></svg>'
            }
        }
    }

    document.getElementById('button-show').addEventListener('click', handleClick);

</script>