---
import Layout from './Layout.astro';
import GuestHeader from '../components/headers/GuestHeader.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<Layout title={title}>
    <GuestHeader />
    <main class="auth-max:bg-black auth-min:bg-gradient-to-t auth-min:from-black auth-min:to-[#0e0b33] flex flex-grow-3 shrink basis-0 justify-center p-8 pt-20">
        <slot/>
    </main>
</Layout>