---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap"
			rel="stylesheet"
		/>

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Paytone+One&display=swap"
			rel="stylesheet"
		/>

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="app-wrapper h-[100vh] flex flex-col">
			<slot />
		</div>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	dialog::backdrop {
		background: rgb(0 0 0 / 0.5);
	}

	/* Estilos para la barra de desplazamiento */
	::-webkit-scrollbar {
		width: 6px; /* Ancho de la barra de desplazamiento */
	}

	/* Estilos para el riel de la barra de desplazamiento */
	::-webkit-scrollbar-track {
		background-color: #333; /* Color de fondo del riel de la barra de desplazamiento */
		width: 3px;
	}

	/* Estilos para el mango de la barra de desplazamiento */
	::-webkit-scrollbar-thumb {
		background-color: #666; /* Color del mango de la barra de desplazamiento */
		border-radius: 6px; /* Radio de borde del mango de la barra de desplazamiento */
	}

	/* Estilos para el botón de aumento de la barra de desplazamiento */
	::-webkit-scrollbar-button {
		display: none; /* Ocultar el botón de aumento de la barra de desplazamiento */
	}

	#rating-scroll::-webkit-scrollbar {
		height: 7px;
		background: transparent;  /*make scrollbar space invisible */
	}

	#rating-scroll::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background: transparent;
	}

	#rating-scroll:hover::-webkit-scrollbar-thumb {
		background: #666;
	}
</style>
