---

---

<header id="guest-header" class="auth-max:pl-8 auth-max:pt-12 auth-max:pb-0 py-8 pl-14 bg-black">
    <div id="nomadcities-logo" class="auth-max:h-6">
        <a href="/"><h1 class="font-alfaslab text-white auth-max:text-lg text-2xl" >NomadCities</h1></a>
    </div>
</header>